<h1>Orders</h1>

<% @orders.each do |order| %>
  <div>
    <h2> <%= link_to "Order #{order.id}", warehouse_storage_path(order) %></h2>
    <p>Building Site: <%= order.building_site %></p>
  </div>
<% end %>