<% unless current_page?(new_order_path) %>
  <% if @view_mode == 'desktop' %>
  <strong>Items in cart:</strong>
    <% unless @cart && @cart.cart_items.any? %>
      <p>Cart is empty</p>
    <% end %>
  <% end %>
  <% if @cart && @cart.cart_items.any? %>
    <div class="flex justify-center text-sm w-120">
      <div>
        <% if @view_mode != 'desktop' %>
          <strong>Items in cart:</strong>
        <% end %>
          <% sorted_cart_items = cart.cart_items.sort_by { |item| item.created_at } %>
          <% sorted_cart_items.each do |item| %>
        <p class="flex inline border-b-2"><%= item.part.name %> <%= item.part.description %>--<strong><%= item.quantity %> </strong>-stk</p>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>