<% if user_signed_in? %>
  <div class="flex justify-end container w-80">
    <div class="mr-2">
      <p class="">Logged as: <%= current_user.email %></p>
      <p class="text-center underline"> <%= link_to 'Admin Panel', '/admin', class: 'hover:underline' %> </p>
    </div>
    <div class="mt-4 hover:scale-110 transition duration-200">
      <%= button_to destroy_user_session_path, method: :delete, class: "logout-button" do %>
        <%= image_tag "exit_2.png", alt: "Wyloguj", size: "50x50" %>
        <span>Log Out</span>
      <% end %>
    </div>
  </div>
<% end %>



