// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


/* print.css */

@media print {
  /* Ukryj wartość "hidden" */
  tr.row-hidden {
    display: none;
  }

  /* Zmniejsz czcionkę dla elementów "parts" */
  .ordered-parts, .storage-parts {
    font-size: small;
  }
  .print-button {
    display: none;
  }


}

.print-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('print.png') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-top: -14px;
}

.custom-green-button {
  /* ... pozostałe style ... */

  /* Dodaj tło z obrazkiem */
  background-image: image-url('print.png');

  background-repeat: no-repeat;
  background-position: center; /* Wycentruj obrazek w przycisku */
  padding-left: 25px; /* Dodaj trochę miejsca po lewej stronie, aby tekst nie nachodził na obrazek */
}

.left-align-action {
  float: left;
  margin-right: 10px;
}